body {
	font-size: 18px;
	color: rgb(66, 49, 49);
    font-family: Arial,Helvetica,sans-serif;
	background-color: rgb(183, 243, 214); 
	overflow: auto; /* scroll */
	overflow-x: hidden;
}

div {
	display: inline-block;
	background-color: rgb(220,220,220);
	border-radius: 5%;
	border-style: double;
	border-color: rgb(165, 221, 187);
	border-width: 1px;
}

.header1 {
	background-position: absolute;
	width: 850px;
	height: 350px;	
	left: 15%;
	top: 10%;
}

.header2 {
	display: inline-block;
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 15%;
	top: 50%;
}

.header3 {
	position: absolute;
	width: 600px;
	height: 250px;
	left: 10%;
	top: 5%;
	background-color: rgb(189, 169, 169);
	border-radius: 5%;
	border-color: rgb(121, 126, 124);
	border-width: 3px;
}

.header4 {
	position: absolute;
	width: 400px;
	height: 500px;
	right: 10%;
	top: 5%;
	background-color: rgb(189, 169, 169);
	border-radius: 5%;
	border-color: rgb(121, 126, 124);
	border-width: 3px;
}

#SmallText {
	font-size: 28px; 
	color: rgb(80, 55, 55); 
	line-height: 2.0;
}

#bgSmallText {
	font-size: 28px; 
	color: rgb(78, 49, 49);
	line-height: 1.5;
}

p, span {
	position: relative;
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;	
	font-variant: small-caps;
	padding:0;
	margin:0 auto;
}

p {
	font-size: 30px;
	font-weight: bold;
	left: 15%;
}

span {
	font-size: 12px;
}

input[type="submit"] {
	position: relative;
	background-color: rgb(75, 199, 216);
	border-color: rgb(12, 33, 92);
	border-width: 2px; 
	border-radius: 10% 30%;
	color: rgb(65, 23, 23);
}

input[type="submit"]:hover {
	background-color: rgba(166, 156, 172, 0.712);
}

#textInHeader {
	position: relative; 
	width: 300px;
	padding: 10px; 
	margin: 5px;
	top: -80%; 
	right: -55%; 	 
	font-size: 16px; 
	color: rgba(110, 69, 69, 0.808); 
	line-height: 2.5;
	font-weight: bold;
}

.navigation{
	position: fixed; 
	left: 1%;
	right: 1%;
	top: 1%;
	width: 90%; 
	border-radius: 10px;
	height: 70px;
    margin: 20px auto;
    padding: 10px 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	border-spacing: 0;
	text-align: center;
}

td {
	padding: 10px 20px;
	background: rgb(75, 173, 136);
	border-style: solid ridge 7px;
	line-height: 2.0;
	font-weight: bold;
	font-style:	italic;
}

/* _________________About_________________ */
.headerAbout {
	position: absolute;
	left: 8%;
	background-color: rgb(189, 169, 169);
	border-radius: 8%;
	border-color: rgb(121, 126, 124);
	border-width: 3px;
	width: 1200px;
	height: 650px;
}

/* _________________Service_________________ */
.classForTableService {
	margin: 0 100px ;
	width: 1200px;
}

/* _________________Team_________________ */
.classForTableTeam {
	position: relative;
	top: 5%;
	width: 1200px;
	background-color: rgb(189, 169, 169);
	background: rgb(189, 169, 169);
	border-radius: 5%;
	border-color: rgb(121, 126, 124);
	border-width: 5px;
	padding: 10px 10px;
	color: rgb(65, 23, 23);
}

.headerTeam {
	position: absolute;
	margin: 50px 50px;
	padding: 20px 50px 40px 30px;
	width: 1200px;
	height: auto;
	left: 13%;
	top: 45%;
}

/*_____________________________REGISTRATION________________________*/
#log_form {
    position: absolute;
	top:50%;
	left:35%;
	border: 4px solid #9FD95D;
	border-radius: 8px;
	background: #CAEDA2;
	width: 400px;
	height: auto;
	padding: 0 38px 0;
} 
#h1 {
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0px 2px 0 rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    text-align: center;
    color: #64C3F3;
    margin: 10px 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px Verdana, Helvetica;
}
#h:after, h:before {
    position: absolute;
    background-color: #8BD932;
    content: "";
    height: 2px;
    left: 8px;
    top: 45px;
    width: 240px;   
}
#username {
	border: 2px solid #ADED59;
	border-radius: 4px;
	padding: 6px 16px 6px 20px;
	margin: 0 0 6px 0;
	background: #ECFFD3 url(images//login.png) no-repeat;
	color: #5F5F5F;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1);
}
#username:focus { 
	outline: none;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1), 0 0 6px 3px #FDFFB7;
}
#password {
	border: 2px solid #ADED59;
	border-radius: 4px;
	padding: 6px 16px 6px 20px;
	margin: 0 0 6px 0;
	background: #ECFFD3;
	color: #5F5F5F;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1);
}
#password:focus { 
	outline: none;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1), 0 0 6px 3px #FDFFB7;
}
#but_log {
	display: inline-block;
	margin: 0 0 0;
	padding: 5px 15px;
	background: #B8ED01;
	border: 0px;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: inset 0px 2px 2px rgba(255,255,255,0.6),
    2px 2px 2px rgba(0,0,0,0.1),
    0 0 4px 1px rgba(0,0,0,0.2);
}
#but_log:hover  { 
	background: #C7FE0A; 
	color: #40BCFE;
	box-shadow:
    inset 0px 2px 2px rgba(255,255,255,0.6),
    0 2px 2px rgba(0,0,0,0.1),
    0 0 4px 1px rgba(0,255,255,0.3);
}
#but_log:active {
	position: relative;
	top: 1px;	
}
input[type="checkbox"] + label span {    
    width:28px;
    height:28px;    
    vertical-align:center;
    cursor:pointer;
}

/* _________________3laba_________________ */
.headerTeam2 {
	position: absolute;
	margin: 50px 50px;
	padding: 0px 20px;
	width: auto;
	height: auto;
	left: 13%;
	top: 50%;
}